
3.7 and 3.8 Documentation Template.pptx
03_Temperature_Convertor.drawio
01_Temp_Converter_Wireframe.drawio
01_Temp_Converter_Wireframe - Copy.drawio
.idea/vcs.xml
.idea/Temperature-Converter.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
photos/01_Testing.png
